<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Luisbaduy97/blob/main/python_for_data_science_course/module_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Alumno: Luis Jose Navarrete Baduy
## Matricula: A01793919

# Notas del curso python for data science module 4

In [6]:
# read a file
with open('data/text_sample.txt', 'r') as File1:
    r = File1.readline()
    print(r)
    r = File1.readline()
    print(r)
    # Read by caracters
    # Cada vez que se ejecuta el read guarda la ultima linea que se llamó y empieza a contar desde ahí, por eso sale This is line 3
    r = File1.readlines(10)
    print(r)

This is line 1

This is line 2

['This is line 3']

In [8]:
# Write files
data = ['This is line 1\n', 'This is line 2\n', 'This is line 3']
with open('data/text_sample_write.txt', 'w') as File1:
    for i in data:
        File1.write(i)

In [9]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [22]:
# read csv
import pandas as pd
data = pd.read_csv('data/sample.csv')
data.head()

   number  age         job
0       1   20  programmer
1       2   25    engineer

In [23]:
# display 1 column
data['age']

0    20
1    25
Name: age, dtype: int64

In [26]:
# Get unique values
print(data['job'].unique().tolist())
# Filter data
data2 = data[data['age'] >= 21]
# Save as csv
data2.to_csv('data/new_sample.csv', index=False)

['programmer', 'engineer']