<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Luisbaduy97/blob/main/python_for_data_science_course/module_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Alumno: Luis Jose Navarrete Baduy
## Matricula: A01793919

# Notas del curso python for data science module 4

In [6]:
# read a file
with open('data/text_sample.txt', 'r') as File1:
    r = File1.readline()
    print(r)
    r = File1.readline()
    print(r)
    # Read by caracters
    # Cada vez que se ejecuta el read guarda la ultima linea que se llamó y empieza a contar desde ahí, por eso sale This is line 3
    r = File1.readlines(10)
    print(r)

This is line 1

This is line 2

['This is line 3']

In [8]:
# Write files
data = ['This is line 1\n', 'This is line 2\n', 'This is line 3']
with open('data/text_sample_write.txt', 'w') as File1:
    for i in data:
        File1.write(i)

In [9]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [22]:
# read csv
import pandas as pd
data = pd.read_csv('data/sample.csv')
data.head()

   number  age         job
0       1   20  programmer
1       2   25    engineer

In [23]:
# display 1 column
data['age']

0    20
1    25
Name: age, dtype: int64

In [26]:
# Get unique values
print(data['job'].unique().tolist())
# Filter data
data2 = data[data['age'] >= 21]
# Save as csv
data2.to_csv('data/new_sample.csv', index=False)

['programmer', 'engineer']

## Lab 1 ReadFile

In [3]:
# Read the Example1.txt
example1 = "data/Example1.txt"
file1 = open(example1, "r")

In [4]:
# Print the path of file

file1.name

'data/Example1.txt'

In [5]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [6]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [7]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [8]:
# Type of file content

type(FileContent)

str

In [9]:
# Close file after finish

file1.close()

###  Mejor manera de abrir archivos

In [10]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [11]:
# Verify if the file is closed

file1.closed

True

In [12]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [13]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

In [14]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [15]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [16]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [17]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [18]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [19]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [20]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [21]:
# Print the third line

FileasList[2]

'This is line 3'