<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Luisbaduy97/blob/main/python_for_data_science_course/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Alumno: Luis Jose Navarrete Baduy
## Matricula: A01793919

# Notas del curso python for data science module 2

### Tuplas
* Son una secuencia ordenada
* Los elementos en la tupla se separan por comas dentro del parentesis
* Las tuplas son inmutables y las variables hacer referencias a ellas

In [2]:
t1 = (1,2,3,4,5,6)
t1[2] = 4 # No se pueden asignar nuevos valores, error forzado

TypeError: 'tuple' object does not support item assignment

In [3]:
t = (1,2,(3,4),4,5) # Una tupla puede contener tuplas
print(t)

(1, 2, (3, 4), 4, 5)

### Listas
* Son mutables
* Igual son una secuencia ordenada
* Se aplican las mismas reglas de indexado que con las tuplas
* Las variables hacen referencia a la lista por lo que cambiar el valor en la variable A se mostrara en B

In [7]:
L = ['Michael Jackson', 10, 1.2]
L.extend([2,3]) # Extiende la lista original
print(L)
L.append([4,5]) # Lo agrega como una lista anidada
print(L)
del(L[0]) # Elimina el primer registro de la lista
print(L)

['Michael Jackson', 10, 1.2, 2, 3]
['Michael Jackson', 10, 1.2, 2, 3, [4, 5]]
[10, 1.2, 2, 3, [4, 5]]

### Sets
* No son una secuencia ordenada por lo que no tiene indice
* Solo puede tener elementos Ãºnicos

In [5]:
my_list = ["Thriller", 1, 3, 4, "Michael Jackson", 4, 3]
my_set_1 = set(my_list)
print(my_set_1) # Remueve los duplicados
my_set_1.add("Beyonce")
print(my_set_1) # Agrega un nuevo elemento
print("Beyonce" in my_set_1) # Ver si el elemento existe en el set
my_list_2 = ["Thriller", "Michael Jackson"]
my_set_2 = set(my_list_2)
print(my_set_1 & my_set_2) # Obtener los elementos en comun
print(my_set_2.issubset(my_set_1)) # Ver si el set 2 es un subconjunto del set 1

{1, 3, 4, 'Thriller', 'Michael Jackson'}
{1, 3, 4, 'Thriller', 'Beyonce', 'Michael Jackson'}
True
{'Michael Jackson', 'Thriller'}
True

### Dictionaries
* No se utiliza indice sino llave y valor
* Las llaves deben ser unicas e inmutables
* Los valores pueden ser mutables, inmutables y duplicados

In [9]:
my_dict = {"id": 1, "name": "Luis", "lastname": "Navarrete"}
print(my_dict)
print(my_dict["name"]) # Obtener el valor de una llave
my_dict["name"] = "Carlos"
print(my_dict)
print(my_dict["name"]) # Obtener el valor de una llave

{'id': 1, 'name': 'Luis', 'lastname': 'Navarrete'}
Luis
{'id': 1, 'name': 'Carlos', 'lastname': 'Navarrete'}
Carlos